{% extends '_base.html' %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}User Form{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-lg-4 offset-ld-4">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-grid gap-2">
                    {% bootstrap_button 'Submit' button_type='submit' button_class='btn-primary' %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}